<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsgF4YLa4_sfAxkIcAz77bCnqQzDHhoIk</string>
	<key>GCM_SENDER_ID</key>
	<string>661269225469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-94efa</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-94efa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661269225469:ios:d0ce5318c22362f5cb4394</string>
</dict>
</plist>